/* Fonts */
:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway", sans-serif;
  --nav-font: "Poppins", sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
  --background-color: #2c2b26;
  /* Background color for the entire website, including individual sections */
  --default-color: #cacaca;
  /* Default color used for the majority of the text content across the entire website */
  --heading-color: #eeeeee;
  /* Color for headings, subheadings and title throughout the website */
  --accent-color: #9bf8ff;
  /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff;
  /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
  --contrast-color: #ffffff;
  /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #979797;
  /* The default color of the main navmenu links */
  --nav-hover-color: #9bf8ff;
  /* Applied to main navmenu links when they are hovered over or active */
  --nav-dropdown-background-color: #0f0f0f;
  /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #979797;
  /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #9bf8ff;
  /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

.dark-background {
  --background-color: #060606f6;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #252525;
  --contrast-color: #ffffff;
}

/*--------------------------------------------------------------
# General Styling & Shared Classes
--------------------------------------------------------------*/
body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 15px 0;
  transition: all 0.5s;
  z-index: 997;
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.5);
}

.header .logo {
  line-height: 1;
}

.header .logo img {
  max-height: 36px;
  margin-right: 8px;
}

.header .logo h1 {
  font-size: 32px;
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--heading-color);
}

.header .logo h1:hover {
  transition: all 0.2s;
  color: var(--accent-color);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navmenu {
  padding: 0;
}

.navmenu ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navmenu li {
  position: relative;
}

.navmenu>ul>li {
  white-space: nowrap;
  padding: 15px 14px;
}

.navmenu>ul>li:last-child {
  padding-right: 0;
}

.navmenu a,
.navmenu a:focus {
  color: var(--nav-color);
  font-size: 15px;
  padding: 0 2px;
  font-family: var(--nav-font);
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

.navmenu a i,
.navmenu a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
  transition: 0.3s;
}

.navmenu>ul>li>a:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: var(--nav-hover-color);
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navmenu a:hover:before,
.navmenu li:hover>a:before,
.navmenu .active:before {
  visibility: visible;
  width: 25px;
}

.navmenu li:hover>a,
.navmenu .active,
.navmenu .active:focus {
  color: var(--nav-hover-color);
}

.navmenu .dropdown ul {
  margin: 0;
  padding: 10px 0;
  background: var(--nav-dropdown-background-color);
  display: block;
  position: absolute;
  visibility: hidden;
  left: -100px;
  top: 130%;
  opacity: 0;
  transition: 0.3s;
  border-radius: 4px;
  z-index: 99;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.navmenu .dropdown ul li {
  min-width: 200px;
}

.navmenu .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  color: var(--nav-dropdown-color);
}

.navmenu .dropdown ul a i {
  font-size: 12px;
}

.navmenu .dropdown ul a:hover,
.navmenu .dropdown ul .active:hover,
.navmenu .dropdown ul li:hover>a {
  color: var(--nav-dropdown-hover-color);
}

.navmenu .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navmenu .dropdown .dropdown ul {
  top: 0;
  left: -90%;
  visibility: hidden;
}

.navmenu .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: -100%;
  visibility: visible;
}


/* Small navbar for mobile */
@media (max-width: 740px) {

  .navmenu ul {
    flex-wrap: wrap;
  }

  .navmenu>ul>li {
    padding: 4px 4px;
  }

  .header .logo h1 {
    font-size: 24px;
  }

}

/*--------------------------------------------------------------
# Global Footer
--------------------------------------------------------------*/
.footer {
  color: #000000;
  background-color: var(--accent-color);
  font-size: 14px;
  padding: 40px 0;
  position: relative;
}

.footer .copyright p {
  margin-top: 20px;
}

/*--------------------------------------------------------------
  # Global Sections
  --------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 100px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
  }
}

/*--------------------------------------------------------------
  # Global Section Titles
  --------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio Section
--------------------------------------------------------------*/

.portfolio .row {
  max-width: 1600px;
  margin: 0 auto;
}

.portfolio .portfolio-item {
  cursor: pointer;
  position: relative;
  display: block;
  border-radius: 0.5rem;
  max-width: 500px;
  height: 300px;
  overflow: hidden;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.portfolio a {
  color: var(--default-color);
}

.portfolio .portfolio-item:hover {
  border-style: solid;
  border-width: 0.1cm;
  border-color: #9bf8ff;
  box-shadow: 0 0 20px #9bf8ff2d;
}

.portfolio .portfolio-item .portfolio-item-caption {
  position: absolute;
  transition: all 0.1s ease-in-out;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.icon-dark {
  color: #9bf8ff;
}

.portfolio .portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.portfolio.portfolio-item h3 {

  font-size: 32px;
}


/*--------------------------------------------------------------
# Background video
--------------------------------------------------------------*/

.background-video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.scrollblur {
  transition: filter 0.2s ease-in-out;
}

.blur {
  filter: blur(8px);
  transition: filter 0.5s ease-in-out;
}

.section {
  background-color: #00000000;
}

.light-bg {
  background-color: #0f161afd;
}

.dark-bg {
  background-color: #2d3438fd;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

.about .maincard {
  background-color: #000000f8;
  box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.8);
}

.about p {
  font-size: 18px;
}

.about .content h2 {
  font-weight: 700;
  font-size: 24px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--accent-color);
  line-height: 0;
}



/*--------------------------------------------------------------
# Portfolio title
--------------------------------------------------------------*/

.portfoliotitle {
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items:end;
}

@media (max-width: 1200px) {
  .portfoliotitle {
    min-height: calc(100vh - 68px);
  }
}


.portfoliotitle .titlecard {
  background-color:  rgba(0, 0, 0, 0.9);
  box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.8);
}

.portfoliotitle .titlecard h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 0px;
  margin-top: 10px;
}

.portfoliotitle .titlecard h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid color-mix(in srgb, var(--default-color), transparent 85%);
}

.portfoliotitle .titlecard ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfoliotitle .titlecard ul li+li {
  margin-top: 0px;
}



/*--------------------------------------------------------------
# Portfolio content
--------------------------------------------------------------*/

.portfoliocontent .container{
  max-width: 1000px;
}

.portfoliocontent p {
  font-size: 18px;
}

.portfoliocontent li{
  font-size: 18px;
}

.portfoliocontent h1 {
  text-align: center;
}

.portfoliocontent h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.portfoliocontent h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.portfoliocontent .inline-l {
  width: 80%;
}

.portfoliocontent .inline-m {
  width: 50%;
}

.portfoliocontent .card {
  border-radius: 0px;
  background-color: #00000000;
}

.portfoliocontent .card .card-img-top {
  border-radius: 0px;

}

.portfoliocontent .card .card-text {
  color: var(--default-color);
  font-family: var(--default-font);
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

.portfoliocontent .expandable-image {
  cursor: pointer;
}

.portfoliocontent .modal-dialog {
  max-width: 90%;
}

.portfoliocontent .modal-content {
  border: none;
  align-items: center;
  background-color: #00000000;
  text-align: center;
}

.portfoliocontent .modal-body {
  position: relative;
}

.portfoliocontent .modal-body img {
  object-fit: contain;
}

.portfoliocontent .modal-body .modal-description {
  font-size: 18px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--default-color);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 5px;
}

.portfoliocontent .btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  background-color: #dddddd;
  border-radius: 50%;
  padding: 5px;
  border: none;
  filter: invert(1) brightness(0.8) !important;
}
